input{
    outline: none;
    border: 1px solid lightgray;
    border-radius: 0.3rem;
}

h3{
    font-family: "BPG Nino Mtavruli", sans-serif;
}

 th{
    font-family: "BPG Nino Mtavruli", sans-serif;
}